
<!-- FOOTER PER DESKTOP-->
<footer *ngIf="!isMobile">
  <h1>SITO IN MANUTENZIONE</h1>
</footer>

<!-- FOOTER POER MOBILE-->
<footer class="footer-mobile" *ngIf="isMobile">
  <div class="footer-content">
    <a href="https://www.instagram.com/a_chic_napoli/" target="_blank" rel="noopener">
      <img class="instagram-class" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" />
    </a>

    <a href="https://www.tiktok.com/@arianna.monteforte91?_t=ZN-8xa4PERhPSI&_r=1" target="_blank" rel="noopener">
      <img class="tiktok-class" src="/assets/images/tiktok.jpg" />
    </a>

    <img
      class="email-class"
      src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Mail_%28iOS%29.svg"
      alt="Email"
      (click)="goToContatti('/contatti')" />
  </div>
</footer>
