<!-- Form principale -->
<form [formGroup]="contextFormGroup" (ngSubmit)="onConferma()">

  <!-- Contenitore scrollabile del contenuto del dialog -->
  <div class="contenuto-dialog">

    <!-- Sezione: Metadati esistenti ereditati dal padre -->
    <div formGroupName="metadatiFromFather">
      <h3>Metadati esistenti</h3>

      <!-- Ciclo su tutte le chiavi dei metadati ereditati -->
      <div *ngFor="let key of contextInputFromFatherKeys" class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <!-- Etichetta leggibile normalizzata -->
          <mat-label>{{ normalizzaChiave(normalizzaDisplayName(key)) }}</mat-label>

          <!-- Campo input associato alla chiave specifica -->
          <input matInput [formControlName]="key" [placeholder]="'Inserisci ' + key" />
        </mat-form-field>
      </div>
    </div>

    <!-- Sezione: Metadati aggiunti manualmente dall'utente -->
    <div formArrayName="metadatiAggiunti">
      <h3>Metadati aggiunti</h3>

      <!-- Ciclo su ogni gruppo (key + value) presente nel FormArray -->
      <div *ngFor="let group of getMetadatiAggiuntiFormArray.controls; let i = index" [formGroupName]="i"
        class="form-row">

        <!-- Campo per la chiave del metadato -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Chiave</mat-label>
          <input matInput formControlName="key" placeholder="Es. colore" />

          <!-- Errore di chiave duplicata -->
          <!-- messaggio per duplicato interno -->
          <p class="error-chiave-duplicata" *ngIf="
     group.get('key')?.hasError('chiaviDuplicate') &&
     group.get('key')?.touched
   ">
            Chiave duplicata: esiste già un metadato con lo stesso nome.
          </p>

          <!-- messaggio per conflitto con chiave riservata -->
          <p class="error-chiave-duplicata" *ngIf="
     group.get('key')?.hasError('chiaviRiservate') &&
     group.get('key')?.touched
   ">
            Chiave già presente nei metadati esistenti.
          </p>

        </mat-form-field>

        <!-- Campo per il valore del metadato -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Valore</mat-label>
          <input matInput formControlName="value" placeholder="Es. rosso" />
        </mat-form-field>

      </div>
    </div>

    <!-- Pulsante per aggiungere un nuovo metadato dinamico -->
    <div class="add-button-container">
      <button mat-mini-fab color="primary" matTooltip="Aggiungi metadata" type="button" (click)="onAggiungiCampo()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

  <!-- Sezione con i pulsanti di azione in basso -->
  <div class="azioni-dialog">
    <button mat-button type="button" (click)="chiudiDialog()">Annulla</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="contextFormGroup.invalid">
      Conferma
    </button>
  </div>

</form>