<!-- HEADER DESKTOP -->
<mat-toolbar *ngIf="!isMobile" class="desktop-header" color="primary">
  <img
    (click)="goToHome('/home')"
    class="logo-desktop-center"
    src="assets/home/images/Logo.png"
    alt="Logo" />
</mat-toolbar>

<!-- HEADER MOBILE -->
<mat-toolbar *ngIf="isMobile" class="mobile-header" color="primary">
  <button mat-icon-button (click)="toggleMenu()" aria-label="Apri menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <img
    (click)="goToHome('/home')"
    class="logo"
    src="assets/home/images/Logo.png"
    alt="Logo" />

  <span class="right-space"></span>
</mat-toolbar>
