<mat-toolbar class="mobile-header" color="primary">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <img (click)="goToHome('/home')" class="logo" src="assets/home/images/Logo.png" alt="Logo" />

  <span class="right-space"></span> <!-- spazio per bilanciare visivamente -->
</mat-toolbar>

<!-- adesso devo collegare il bottone menu hamb al sidenav definito in app component ovvero, tramite questo bottone di un altro component devo aprire un menu di un altro component in app component-->
 <!-- in questo caso mobile component è figlio di app component ed ha questa funzione toggleMenu() che fa questo apre e chiude ma se clicco cosi non funziona-->
  <!-- quando clicco deve triggerare #sidenav definito di app component -->