<div
  *ngIf="isMobile"
  class="audio-overlay"
  [ngClass]="{ 'attiva': attivo, 'chiusura': panelClosing }"
  (click)="closeWindow()"
>
  <div
    class="audio-panel"
    [@panelSlideAnimation]="panelAnimationState"
    (click)="$event.stopPropagation()"
  >
    <!-- Chiudi manuale -->
    <button class="chiudi-testuale" (click)="closeWindow()">Chiudi</button>

    <!-- Melodie -->
    <h2 class="titolo-melodie">Melodie disponibili</h2>

    <mat-list>
      <mat-list-item *ngFor="let audio of assetCarllonAudioUrl; let i = index">
        <div class="melodia-row">
          <span>{{ audio.nome_canzone }}</span>
          <button mat-icon-button (click)="togglePlay(audio.url, i)">
            <mat-icon>{{ currentIndex === i && isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>

    <audio #audioPlayer (ended)="onEnded()"></audio>
  </div>
</div>
