<!-- Toolbar principale per desktop -->
<ng-container *ngIf="!isMobile">
  <mat-toolbar color="primary" class="toolbar">
    <span class="logo" (click)="goTo('/home')">A-Chic</span>

    <ng-container *ngFor="let categoria of categorie">
      <ng-container *ngIf="strutturaCategorie[categoria] as sottoCategorie">
        <ng-container *ngIf="sottoCategorie.length > 0">
          <button mat-button [matMenuTriggerFor]="menuRefs[categoria]">{{ categoria }}</button>

          <mat-menu #menu="matMenu" [hasBackdrop]="true">
            <button *ngFor="let sotto of sottoCategorie" mat-menu-item (click)="goTo(categoria, sotto, filtriSottoCategorie)">
              {{ sotto | titlecase }}
            </button>
          </mat-menu>
          <ng-container *ngIf="setMenuRef(categoria, menu)"></ng-container>
        </ng-container>

        <button *ngIf="sottoCategorie.length === 0" mat-button (click)="goTo(categoria)">
          {{ categoria }}
        </button>
      </ng-container>
    </ng-container>

    <span class="spacer"></span>

    <mat-form-field appearance="fill" class="barra-ricerca-toolbar" floatLabel="auto">
      <input
        type="text"
        matInput
        placeholder="Cerca..."
        [formControl]="searchControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="vaiAllaCategoria($event.option.value)">
        <mat-option *ngFor="let opzione of filteredOpzioni" [value]="opzione">
          {{ opzione }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-button class="button-contatti" (click)="goTo('/recensioni')">Recensioni</button>
    <button mat-button class="button-contatti" (click)="goTo('/contatti')">Contatti</button>
    <button mat-button class="button-contatti" (click)="goTo('/chi-siamo')">Chi Siamo</button>
  </mat-toolbar>
    <div class="desktop-page-content">
      <router-outlet></router-outlet>
    </div>
        <footer class="footer-desktop" *ngIf="!isMobile">
          <div class="footer-content">
            <a (click)="goToCookie('/cookie-policy')">Cookie Policy</a>
              <span class="separator">|</span>
            <a (click)="goToPrivacy('/privacy-policy')">Privacy Policy</a>
          </div>
        </footer>
</ng-container>

<!-- Test scroll su mobile -->
<ng-container *ngIf="isMobile">

  <!-- HEADER SEMPRE VISIBILE -->
  <app-mobile-header></app-mobile-header>

  <!-- SIDENAV + CONTENUTO -->
  <mat-sidenav-container class="sidenav-container">

    <!-- SIDENAV MOBILE -->
    <mat-sidenav #sidenav mode="over" [(opened)]="mobileMenuOpen">
      <div class="sidenav-content">
        <ng-container *ngFor="let categoria of categorie">
          <div
            class="sidenav-categoria"
            [class.attiva]="categoriaEspansa === categoria"
            (click)="strutturaCategorie[categoria].length > 0 ? toggleCategoria(categoria) : goToAndCloseSideNav(categoria)">
            {{ categoria }}
          </div>

          <div *ngIf="categoriaEspansa === categoria" [@expandCollapse] class="sotto-container">
            <div *ngFor="let sotto of strutturaCategorie[categoria]">
              <button class="sotto-categoria"
                      (click)="(filtriSottoCategorie[sotto] && filtriSottoCategorie[sotto].length > 0) ? toggleSottoCategoria(sotto) : goToAndCloseSideNav(categoria, sotto)">
                {{ sotto | titlecase }}
              </button>

              <div *ngIf="sottoCategoriaEspansa === sotto" [@expandCollapse] class="filtro-container">
                <button
                  class="filtro-categoria"
                  *ngFor="let filtro of filtriSottoCategorie[sotto]"
                  (click)="goToMobileQueryParamFilter(categoria, sotto, filtro); sidenav.close()">
                  {{ filtro | titlecase }}
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <mat-divider></mat-divider>

        <button class="link-button" (click)="goTo('/recensioni'); sidenav.close()">Recensioni</button>
        <button class="link-button" (click)="goTo('/chi-siamo'); sidenav.close()">Chi Siamo</button>
      </div>
    </mat-sidenav>

    <!-- CONTENUTO PRINCIPALE -->
    <mat-sidenav-content>
      <div class="mobile-page-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- FOOTER SEMPRE VISIBILE -->
  <app-mobile-footer></app-mobile-footer>

</ng-container>



