<!-- Toolbar principale per desktop -->
<ng-container *ngIf="!isMobile">
  <mat-toolbar color="primary" class="toolbar">
    <span class="logo" (click)="goTo('/home')">A-Chic</span>

    <ng-container *ngFor="let categoria of categorie">
      <ng-container *ngIf="strutturaCategorie[categoria] as sottoCategorie">
        <ng-container *ngIf="sottoCategorie.length > 0">
          <button mat-button [matMenuTriggerFor]="menuRefs[categoria]">{{ categoria }}</button>

          <mat-menu #menu="matMenu" [hasBackdrop]="true">
            <button *ngFor="let sotto of sottoCategorie" mat-menu-item (click)="goTo(categoria, sotto, filtriSottoCategorie)">
              {{ sotto | titlecase }}
            </button>
          </mat-menu>
          <ng-container *ngIf="setMenuRef(categoria, menu)"></ng-container>
        </ng-container>

        <button *ngIf="sottoCategorie.length === 0" mat-button (click)="goTo(categoria)">
          {{ categoria }}
        </button>
      </ng-container>
    </ng-container>

    <span class="spacer"></span>

    <mat-form-field appearance="fill" class="barra-ricerca-toolbar" floatLabel="auto">
      <input
        type="text"
        matInput
        placeholder="Cerca..."
        [formControl]="searchControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="vaiAllaCategoria($event.option.value)">
        <mat-option *ngFor="let opzione of filteredOpzioni" [value]="opzione">
          {{ opzione }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-button class="button-contatti" (click)="goTo('/recensioni')">Recensioni</button>
    <button mat-button class="button-contatti" (click)="goTo('/contatti')">Contatti</button>
    <button mat-button class="button-contatti" (click)="goTo('/chi-siamo')">Chi Siamo</button>
  </mat-toolbar>
    <div class="desktop-page-content">
      <router-outlet></router-outlet>
    </div>
        <footer class="footer-desktop" *ngIf="!isMobile">
          <div class="footer-content">
            <a (click)="goToCookie('/cookie-policy')">Cookie Policy</a>
              <span class="separator">|</span>
            <a (click)="goToPrivacy('/privacy-policy')">Privacy Policy</a>
          </div>
        </footer>
</ng-container>

<!-- Test scroll su mobile -->
<ng-container *ngIf="isMobile">
  <mat-sidenav-container class="sidenav-container">

    <!-- Definisci il sidenav con #sidenav -->
    <mat-sidenav #sidenav mode="over" [(opened)]="mobileMenuOpen">
      <!-- Contenuto del menu mobile -->
      <p>Qui il menu mobile</p>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="toolbar-mobile" color="primary">
        <img class="logo" src="assets/home/images/Logo.png" alt="Logo" (click)="goTo('/home')" />
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
      </mat-toolbar>

      <!-- Contenuto della pagina -->
      <div class="mobile-page-container">
        <router-outlet></router-outlet>
      </div>

        <footer class="footer-mobile">
          <div class="footer-content">
            <a href="https://www.instagram.com/a_chic_napoli/" target="_blank" rel="noopener">
              <img class="instagram-class" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" />
            </a>

            <a href="https://www.tiktok.com/@achic04" target="_blank" rel="noopener">
              <img class="tiktok-class" src="/assets/images/tiktok.jpg" />
            </a>

            <img
              class="email-class"
              src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Mail_%28iOS%29.svg"
              alt="Email"
              (click)="goToContatti('/contatti')" />
          </div>
        </footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>

