<div class="popup-wrapper">
  <div class="carosello-container">
    <h2 class="titolo">Modifica carosello</h2>
    <p class="sottotitolo">Gestisci i contenuti del carosello:</p>

    <div class="bottoni-centrati">
      <button
        mat-icon-button
        class="bottone add"
        matTooltip="Clicca qui per caricare un media"
        (click)="apriPopUpCaricaMedia()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-icon-button
        class="bottone download"
        matTooltip="Clicca qui per scaricare un media"
        (click)="apriPopUpdownloadMedia()"
      >
        <mat-icon>download</mat-icon>
      </button>

      <button
        mat-icon-button
        class="bottone delete"
        matTooltip="Clicca qui per cancellare un media"
        (click)="apriPopUpEliminaMedia()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
