<!-- DESKTOP-->
 <ng-container *ngIf="!isMobile">
  <h1>SITO IN MANUTENZIONE</h1>
 </ng-container>


 <!-- MOBILE-->
  <!-- DESKTOP-->
<!-- Solo per dispositivi mobili -->
<ng-container *ngIf="isMobile">
  <!-- Contenitore principale per le immagini su mobile -->
  <div class="mobile-immagini-wrapper" (click)="chiudiAudioSeAperto()">
    
    <!-- Griglia di immagini: 2 colonne x 2 righe = 4 immagini per blocco -->
    <div class="contenitore-cards">
      <!-- Ciclo sulle immagini visibili attualmente -->
<ng-container *ngFor="let item of immaginiFrontaliPaginata">
  <div class="image-wrapper">
    <mat-card 
  class="image-card" 
  (click)="onImmagineClick(item)" 
  [class.audio-attivo]="mostraAudioPlayer">
      <div class="card-image-container">
        <img mat-card-image [src]="item.url" [alt]="item.display_name" />
        <!-- creo la div per l'icona lente e l'incona audio SOLO PER CARILLON-->
        <div class="icon-wrapper">
            <div class="lens-icon">
                <!-- SVG sempre visibile -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#000">
                  <path d="M505 442.7L405.3 343c28.4-34.9 45.7-79 45.7-127C451 96.5 354.5 0 234 0S17 96.5 17 216s96.5 216 216 216c48 0 92.1-17.3 127-45.7l99.7 99.7c4.7 4.7 12.3 4.7 17 0l45.3-45.3c4.8-4.7 4.8-12.3.1-17zM233 368c-84.7 0-152-67.3-152-152S148.3 64 233 64s152 67.3 152 152-67.3 152-152 152z"/>
                </svg>
            </div>
            <div (click)="onAudioIconClick($event)" *ngIf="isAudioIconVisible" (audioVisible)="setAudioVisible()" class="audio-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="#000">
                <path d="M215 71c7.6 4.7 9.9 14.8 5.2 22.4L146.8 192H72c-13.3 0-24 10.7-24 24v80c0 13.3 10.7 24 24 24h74.8L220.2 418.6c4.7 7.6 2.4 17.7-5.2 22.4-7.6 4.7-17.7 2.4-22.4-5.2L144 328H72c-39.8 0-72-32.2-72-72v-80c0-39.8 32.2-72 72-72h72l48.6-76.2c4.7-7.6 14.8-9.9 22.4-5.2zM288 176c0-13.3 10.7-24 24-24s24 10.7 24 24v160c0 13.3-10.7 24-24 24s-24-10.7-24-24V176zm-32.1 3.8c9.2-10.6 25.2-11.6 35.8-2.3s11.6 25.2 2.3 35.8c-11.7 13.4-18 30.6-18 48.7s6.3 35.3 18 48.7c9.2 10.6 7.9 26.6-2.3 35.8s-26.6 7.9-35.8-2.3c-21.7-25-34-57.4-34-90.2s12.3-65.2 34-90.2z"/>
              </svg>
            </div>
<app-audio-player 
  *ngIf="mostraAudioPlayer"
  (chiudiPlayerEvent)="mostraAudioPlayer = false">
</app-audio-player>


        </div>
      </div>
    </mat-card>
    <div class="image-info">
      <h3>{{ item.display_name }}</h3>
      <p>Quantità: {{ item.quantita }}</p>
    </div>
  </div>
</ng-container>


    <!-- ora qui sto passando la variabile dettaglio con immagine selezionata a DettagliComponent difatti dettagli component espone la variabile dettaglio e gli do il valore di immagine selezionata in onImageClick setto immagine selezionata-->
    <!-- devo poter passare anche le altre immagini laterale obliqua ecc..-->  
    <app-dettagli
  *ngIf="immagineSelezionata && !mostraAudioPlayer"
  [immagineFrontale]="immagineSelezionata"
  [altreImmaginiDellaFrontale]="altreImmaginiSelezionate"
  [descrizioneImmagineFrontale]="descrizioneImmagineFrontale"
  (chiudiDettaglio)="handleChiudiDettaglio()"
/>
    </div>
  </div>
  <!-- Navigazione tra le pagine (solo se ci sono più immagini) -->
<div class="paginazione-mobile" *ngIf="numeroDiPagine > 1">
  <!-- Freccia sinistra -->
  <button mat-icon-button (click)="paginaPrecedente()" [disabled]="paginaCorrente === 1">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <!-- Numero pagina -->
  <span class="numero-pagina">
    Pagina {{ paginaCorrente }} / {{ numeroDiPagine }}
  </span>

  <!-- Freccia destra -->
  <button mat-icon-button (click)="paginaSuccessiva()" [disabled]="paginaCorrente === numeroDiPagine">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
</ng-container>


