



<ng-container *ngFor="let ilMioCarosello of iMieICaroselli; let i = index">
<ngx-flicking
  #flickingTag
  [options]="ilMioCarosello.options"
  (mousedown)="saveAsseX($event)"
  (mouseup)="checkIfScrollDxorSx($event,i)"
  (touchstart)="saveAsseX($event)" 
  (touchend)="checkIfScrollDxorSx($event,i)"
  (changed)="onChangedCarosello($event, ilMioCarosello.otherOption.onChangedCarosello)"
  [plugins]="ilMioCarosello.plugins"
  style="display:block; width:100%;"
>
  <div
    flicking-panel
    *ngFor="let n of ilMioCarosello.data"
    class="carosello-panel"
  >
    Slide {{ n }}
  </div>

  <!-- frecce -->
  <span in-viewport class="flicking-arrow-prev"></span>
  <span in-viewport class="flicking-arrow-next"></span>

  <!-- pallini -->
  <div in-viewport class="flicking-pagination"></div>
</ngx-flicking>
</ng-container>

