<!-- RECENSIONI DESKTOP-->
<div *ngIf="!isMobile" class="recensioni-layout">
  <mat-card
    *ngFor="let img of recensioni; let i = index"
    class="recensione-card"
    [class.active]="visibleIndexes.includes(i)"
  >
    <img mat-card-image [src]="img" alt="Recensione cliente" />
  </mat-card>
</div>



<!-- RECENSIONI MOBILE-->
 <div *ngIf="isMobile" class="recensioni-layout">
  <mat-card
    *ngFor="let img of recensioni; let i = index"
    class="recensione-card"
    [class.active]="visibleIndexes.includes(i)"
  >
    <img mat-card-image [src]="img" alt="Recensione cliente" />
  </mat-card>
</div>



