<!-- DESKTOP-->
<div *ngIf="!isMobile">

</div>

<!--MOBILE-->
<!-- Overlay principale con sfocatura metto il click perche se clicco fuori da pannello chiude  --> 
<div  *ngIf="isMobile" class="dettagli-overlay" [ngClass]="{ 'attiva': attivo, 'chiusura': panelClosing }" (click)="closeWindow()">
  
  <!-- Pulsante testuale in alto a destra fuori dal pannello -->

  <!-- Pannello con dettaglio immagine -->
  <div
    class="dettagli-panel"
    [ngClass]="{ chiusura: panelClosing }"
    (click)="$event.stopPropagation()"
  >
      <button class="chiudi-testuale" (click)="closeWindow()">Chiudi</button>

    <!-- Immagine in evidenza la avoolgo in un contenitore per fare lo swipe mobile-->
<div
  class="swipe-container"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <img
    [@slideAnimation]="animationState"
    [src]="totaleImmagini[currentIndexOtherImage]"
    class="animated-image"
    (animationend)="animationState = ''"
  />
</div>




    <!-- Indicatore immagini (es. ● ○ ○) -->
    <div *ngIf="totaleImmagini && totaleImmagini.length > 0" class="indicator-wrapper">  <!-- let i = index incrementa mi dici a quanto sono nel ciclo {{i}} vale 0 1 2 perche parte da 0 -->
      <span *ngFor="let immagine of totaleImmagini ; let i = index" [ngClass]="{ 'attiva': i === currentIndexOtherImage }"> <!-- quando la i === currentIndex si deve attivare la classe cioe si illumina il pallino, al primo step il pallino 1 è scuro quando scrollo incremento currentIndexOtherImage e si illumina l'altro pallino-->
                         ● 
      </span>
    </div>
<p class="descrizione-scroll">{{ descrizioneImmagineFrontale }}</p>
  </div>

</div>
