<!-- DESKTOP-->
<div *ngIf="!isMobile">

</div>

<!--MOBILE-->
<!-- Overlay principale con sfocatura metto il click perche se clicco fuori da pannello chiude  --> 
<div  *ngIf="isMobile" class="dettagli-overlay" [ngClass]="{ 'attiva': attivo, 'chiusura': panelClosing }" (click)="closeWindow()">
  
  <!-- Pulsante testuale in alto a destra fuori dal pannello -->

  <!-- Pannello con dettaglio immagine -->
  <div
    class="dettagli-panel"
    [ngClass]="{ chiusura: panelClosing }"
    (click)="$event.stopPropagation()"
  >
      <button class="chiudi-testuale" (click)="closeWindow()">Chiudi</button>

    <!-- Immagine in evidenza -->
    <img [src]="dettaglio.url" [alt]="dettaglio.display_name" />

    <!-- Nome immagine -->
    <h3>{{ dettaglio.display_name }}</h3>
  </div>
</div>
